@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/<a href="http://www.jqueryscript.net/tags.php?/Validation/">Validation</a>FormScript.js"></script>

   
    
    <script src="~/js/noty/packaged/jquery.noty.packaged.js"></script>
    <link href="~/js/noty/layouts/animate.css" rel="stylesheet" />

    <style>
        /*.noty_message 
        {
            font-size:x-large;
        }*/
        #noty_topLeft_layout_container li
        {
            margin:10px;
        }
            .loading {
           width: 100%;
           height: 100%;
           top: 0px;
           left: 0px;
           position: fixed;
           display: block;
           opacity: 0.7;
           background-color: #fff;
           z-index: 99;
           text-align: center;
        }
        .ortala {
            margin:auto;
            margin-bottom:0.1%;
            padding:10px;
            text-align:center;
        }

        .loading-image {
          position: absolute;
          font-size:2%;
          top:49%;
          left:49%;
          margin:auto;
          z-index: 100;
        }
    </style>

    <script>


        function generateNotify(layout, text, type, modal) {
            var n = noty({
                text: text,
                type: type,
                //type: 'alert',
                dismissQueue: true,
                layout: layout,
                theme: 'defaultTheme',
                modal: modal,
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                timeout: 1500
            });
        }


    </script>

    



<script>



    (function ($) {

        $(document).ready(function () {


            $(".loading").hide();

            jQuery.validator.setDefaults({
                highlight: function (element, errorClass, validClass) {
                    if (element.type === "radio") {
                        this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                    } else {
                        $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
                        $(element).closest('.form-group').find('i.fa').remove();
                        $(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
                        //$(element).closest('.form-group').find('label').html('12gg343g');
                        //
                    }
                },
                unhighlight: function (element, errorClass, validClass) {
                    if (element.type === "radio") {
                        this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                    } else {
                        $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
                        $(element).closest('.form-group').find('i.fa').remove();
                        $(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
                        //$(element).closest('.form-group').find('label').html('wegwegwegewg');
                    }
                }
            });

            $("form").validate({
                rules: {
                    'Password': {
                        required: true,
                        minlength: 6,
                        maxlength: 25
                    },
                    'RepeatPassword': {
                        required: true,
                        minlength: 6,
                        maxlength: 25,
                        equalTo: "#Password"
                    }
                },
                messages: {
                    'Password': {
                        required: "Şifrenizi giriniz.",
                        minlength: jQuery.validator.format("Şifreniz en az {0} karakter olabilir.", 6),
                    },

                    'RepeatPassword': {
                        required: "Şifrenizi tekrar giriniz.",
                        minlength: jQuery.validator.format("Şifreniz en az {0} karakter olabilir.", 6),
                        equalTo: "Şifreniz uyuşmuyor.Lütfen tekrar giriniz.",
                    }
                },
                submitHandler: function (form) {
                    var data = $(form).serialize();
                    var url = location.origin + '/Login/ChangePass';



                    $.ajax({
                        type: 'POST',
                        url: url,//location.origin + '/Login/Register',
                        data: data,
                        beforeSend: function () {
                            // setting a timeout
                            $(".loading").show();

                        },
                        complete: function () {
                            $(".loading").hide();
                        },
                        crossDomain: true,
                        success: function (data) {
                            var obj = JSON.parse(data);
                            if (obj.process == "success") {
                                generateNotify('topLeft', obj.message, 'success', false);
                                setTimeout(function () {
                                    window.location.href = location.origin + "/Login/Index";
                                }, 1500);
                            }
                            else if (obj.process == "fail") {
                                generateNotify('topLeft', obj.message, 'error', false);
                            }

                        },
                        error: function (data) {
                            alert("Ajax isteği sırasında hata oluştu");
                        }
                    });


                }
            });
        });
    })(jQuery)


    </script>
    <style>
        body {
        background-image:url('/Content/images.jpg');
        background-repeat:repeat;
        }
        label.error {
            color:#a94442;background-color:#f2dede;border-color:#ebccd1;
        }

        #container {
            background-color:#eee;
            padding:5%;
            margin:auto;
            margin-top:4%;
            width:40%;
        }
        .form-control-feedback {
            left:0px;
        }
        .form-control{
            padding-left:30px;
        }
        .container-header {
            text-align:center;
            background-color:#2aa9ff;
            color:white;
            margin:auto;
            margin-bottom:5%;
            font-size:x-large;
            padding:10px;
        }

    </style>



</head>
<body>
    <div class="loading">
        <img class="loading-image" src="/images/spin.gif" alt="Loading..." />
    </div>


    <div id="container">
        <form id="auth-sign-up" enctype="application/x-www-form-urlencoded" class="block-form block-form-default" action="http://online-racing.net/auth/sign-up" method="post">
            <div class="container-header">
                FİDES CRM  
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <label for="Password" class="control-label required">Password</label>
                <input type="password" name="Password" id="Password" value="" maxLength="40" class="form-control" placeholder="Password" data-title="Enter password for your account." data-placement="bottom" />
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <label for="RepeatPassword" class="control-label required">Repeat password</label>
                <input type="password" name="RepeatPassword" id="RepeatPassword" value="" maxLength="40" class="form-control" placeholder="Repeat password" data-title="Repeat entered above password." data-placement="bottom" />
            </div>

            <input type="hidden" value="@ViewBag.code" name="code" id="code" />

            <div>
                <div class="form-group">
                    <input type="submit" name="Submit" id="Submit" value="Kayıt Ol" class="btn btn-info btn-block btn-lg" />
                </div>
            </div>

        </form>
    </div>
</body>
</html>
