@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/<a href="http://www.jqueryscript.net/tags.php?/Validation/">Validation</a>FormScript.js"></script>

    @{ Html.RenderPartial("~/Views/Shared/LoginHead.cshtml"); }
     <script src="~/js/noty/packaged/jquery.noty.packaged.js"></script>
    <link href="~/js/noty/layouts/animate.css" rel="stylesheet" />

    <style>
        /*.noty_message 
        {
            font-size:x-large;
        }*/
        #noty_topLeft_layout_container li
        {
            margin:10px;
        }
    </style>

    <script>
         @{
             var myHtmlString = new HtmlString("");  
            if (!String.IsNullOrEmpty(Request.QueryString["login"]) && Request.QueryString["login"]=="true") //
            {
                 myHtmlString = new HtmlString("$(function ($) {generateNotify('topLeft', 'Kayıt Başarılı.Giriş yapabilirsiniz', 'success', false);  });");
                    
                   
            }
            else
            {
                //myHtmlString = new HtmlString("$(function ($) {generateNotify('topLeft', 'Kayıt Başarılı.Giriş yapabilirsiniz', 'success', false);  });");
                    
            }
             @Html.Raw(myHtmlString);
                 
            }
            
            
        function generateNotify(layout, text, type, modal) {
            var n = noty({
                text: text,
                type: type,
                //type: 'alert',
                dismissQueue: true,
                layout: layout,
                theme: 'defaultTheme',
                modal: modal,
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                timeout: 1500
            });
        }

    </script>

</head>
<body>
    <div class="loading">
        <img class="loading-image" src="/images/spin.gif" alt="Loading..." />
    </div>
    <div id="container">
        <form id="auth-sign-up" enctype="application/x-www-form-urlencoded" class="block-form block-form-default" action="http://online-racing.net/auth/sign-up" method="post">
            <div class="container-header">
                FİDES CRM  
            </div>
            <div class="ortala"><a href="@Url.Action("Register","Login")">Kayıt Ol </a></div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <label for="Email" class="control-label required">E-mail</label>
                <input type="text" name="Email" id="Email" value="" maxLength="255" class="form-control" placeholder="E-mail" data-title="Enter your email. Example: example@mail.com." data-placement="bottom" />              
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <label for="Password" class="control-label required">Password</label>
                <input type="password" name="Password" id="Password" value="" maxLength="40" class="form-control" placeholder="Password" data-title="Enter password for your account." data-placement="bottom" />
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <label for="RepeatPassword" class="control-label required">Repeat password</label>
                <input type="password" name="RepeatPassword" id="RepeatPassword" value="" maxLength="40" class="form-control" placeholder="Repeat password" data-title="Repeat entered above password." data-placement="bottom" />
            </div>

            <div class="form-group">
                <input type="checkbox" name="RememberMe" id="RememberMe" class="remember rcheckbox" data-title="RememberMe" data-placement="bottom" />
                <label for="RememberMe" class="remember">Remember Me</label>              
            </div>



            <div>
                <div class="form-group">
                    <input type="submit" name="Submit" id="Submit" value="Giriş Yap" class="btn btn-danger btn-block btn-lg" />
                </div>
            </div>

            <div class="ortala"><a href="">Şifrenizi mi unuttunuz?  <i class="glyphicon glyphicon-share-alt"></i> </a></div>
        </form>
    </div>
</body>
</html>
