@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/<a href="http://www.jqueryscript.net/tags.php?/Validation/">Validation</a>FormScript.js"></script>
   

    @*<script src="~/js/noty/packaged/jquery.noty.packaged.js"></script>
    <link href="~/js/noty/layouts/animate.css" rel="stylesheet" />
    <script>


        function generateNotify(layout,text,type,modal) {
            var n = noty({
                text: text,
                type:type,
                //type: 'alert',
                dismissQueue: true,
                layout: layout,
                theme: 'defaultTheme',
                modal: modal,
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                timeout: 1500
            });
        }

        $(function ($) {

            //generate('top');
            generateNotify('topLeft', 'text', 'success', false);
            window.setTimeout(1000);
            generateNotify('topLeft', 'text', 'success', false);
        });
    </script>*@
</head>
<body>
    <div id="loading">
        <img id="loading-image" src="images/spin.gif" alt="Loading..." />
    </div>
    <div id="container">
 
    </div>
</body>
</html>
